<h1>Listing todo_lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.title %></td>
        <td><%= todo_list.description %></td>
        <td><%= todo_list.todo_items.first.content %></td>

        <td><%= link_to 'Show', day_todo_lists_path %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo list', new_day_todo_list_path %>
